---
vms:

  # NOTE: All `box:` declarations in this example point to
  # int-resources.puppetlabs.net and require VPN acces to download.

  - name: pe-201532-agent-win2012
    debug-kit: true
    hostname: pe-201532-agent-win2012
    box: windows-2012r2-x64-virtualbox-nocm
    roles:
      - windows
      - 2gb-memory
      - base

  - name: pe-201532-agent-win2008
    debug-kit: true
    hostname: pe-201532-agent-win2008
    box: windows-2008r2-x64-virtualbox-nocm
    roles:
      - windows
      - 2gb-memory
      - base


  - name: pe-201532-agent-solaris10
    box: solaris-10u11-i386-virtualbox-nocm
    debug-kit: true
    roles:
      - base

  - name: pe-201532-agent-solaris11
    box: solaris-11.2-i386-virtualbox-nocm
    debug-kit: true
    roles:
      - base

  - name: pe-38nightly-master
    debug-kit: true
    box: puppetlabs/centos-6.6-64-nocm
    roles:
      - pe-forward-console
      - pe-memory-tuning
      - el-stop-firewall
      - el-fix-path
      - 2gb-memory
      - base

  - name: pe-38nightly-agent
    debug-kit: true
    box: puppetlabs/centos-6.6-64-nocm
    roles:
      - el-stop-firewall
      - el-fix-path
      - base

  - name: pe-20152nightly-master
    debug-kit: true
    box: puppetlabs/centos-6.6-64-nocm
    roles:
      - pe-forward-console
      - pe-memory-tuning2
      - el-stop-firewall
      - el-fix-path
      - 2gb-memory
      - base

  - name: pe-20152nightly-agent
    debug-kit: true
    box: puppetlabs/centos-6.6-64-nocm
    roles:
      - el-stop-firewall
      - el-fix-path
      - base

  - name: pe-20153nightly-master
    debug-kit: true
    box: puppetlabs/centos-6.6-64-nocm
    roles:
      - pe-forward-console
      - pe-memory-tuning2
      - el-stop-firewall
      - el-fix-path
      - 2gb-memory
      - base

  - name: pe-20153nightly-agent
    debug-kit: true
    box: puppetlabs/centos-6.6-64-nocm
    roles:
      - el-stop-firewall
      - el-fix-path
      - base

# vim: set ft=yaml:
